*,*::after,*::before{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
html{
    width:100%;
    height:100%;
    
}
body{
    width:100%;
    height:100%;
    font-family:'bradleyhand';
}
body.overallclassicwhite{
    background-color:rgb(248,248,248);
    /* background-image:url(../bg_9b9dcb65ff@2x.png); */
}
body.overallclassicbamboo{
    background-color:rgb(229,228,219);
}
body.overallclassicblack{
    background-color:rgb(30,30,30);
}
body.overallclassicblack p{
    color:#CCC;
}
a{
    text-decoration:none;
    outline:none;
}
ul,li{
    list-style:none;
    padding:0;
    margin:0;
}
/* 黄蓝撞色 */
.soulwrapper{
    position:relative;
    height:153px;
    border-bottom:1px solid rgb(0, 230, 64);
}
body.overallclassicbamboo .soulwrapper{
    border-bottom:1px dotted rgb(111,126,112);
}
body.overallclassicbamboo .soulwrapper::before{
	content:"";
	position:absolute;
	width:23px;
	height:23px;
	background-color:rgb(229,228,219);
	right:0;
	bottom:0;
	border-radius:50%;
	transform:translate(50%,50%);
	
}
body.overallclassicbamboo .soulwrapper::after{
	content:"";
	position:absolute;
	width:23px;
	height:23px;
	background-color:rgb(229,228,219);
	bottom:0;
	border-radius:50%;
	transform:translate(-50%,50%);
	
}
.soul{
    position:relative;
    width:0px;
    height:0px;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
}
.classicwhite{
    position:absolute;
    width:67px;
    height:67px;
    background-color:rgb(0, 230, 64);
    border-radius:50%;
    transform:translate(-50%,-50%) scale(1);
    animation:follow 1.9s infinite;
}
body.overallclassicbamboo .classicwhite{
    background-color:rgb(111,126,112);
    animation:followbamboo 1.9s infinite;
}
body.overallclassicblack .classicwhite{
    /* background-color:#FFF; */
    animation:followblack 1.9s infinite;
}
.classicblack{
    position:absolute;
    width:67px;
    height:67px;
    background-color:#FFF;
    border-radius:50%;
    transform:translate(-50%,-50%) scale(.75);
    animation:go 1.9s infinite;
}
body.overallclassicwhite .classicblack{
    background-color:#FFF;
}
body.overallclassicbamboo .classicblack{
    background-color:rgb(242,241,237);
    animation:gobamboo 1.9s infinite;
}
body.overallclassicblack .classicblack{
    background-color:rgb(51,51,51);
    animation:goblack 1.9s infinite;
}
@keyframes go{
    from{
        transform:translate(-50%,-50%) scale(.75);
        box-shadow:inset 0 0 9px 0 rgb(177, 247, 189);
    }42%{
        box-shadow:inset 0 0 0 0 white;
    }43%{
        transform:translate(-50%,-50%) scale(1.03);
        box-shadow:inset 0 0 0 0 white;
    }57%{
        transform:translate(-50%,-50%) scale(1.03);
        box-shadow:inset 0 0 0 0 white;
    }57.1%{
        transform:translate(-50%,-50%) scale(.75);
        box-shadow:inset 0 0 0 0 rgb(177, 247, 189);
    }to{
        transform:translate(-50%,-50%) scale(.75);
        box-shadow:inset 0 0 9px 0 rgb(177, 247, 189);
    }
}
@keyframes follow{
    from{
        transform:translate(-50%,-50%) scale(1);
        box-shadow:0 0 9px 0 rgb(177, 247, 189);
    }43%{
        transform:translate(-50%,-50%) scale(1);
        box-shadow:0 0 0 0 rgb(177, 247, 189);
    }57%{
        transform:translate(-50%,-50%) scale(1);
    }57.1%{
        transform:translate(-50%,-50%) scale(.73);
        box-shadow:0 0 0 0 rgb(177, 247, 189);
    }to{
        transform:translate(-50%,-50%) scale(1);
        box-shadow:0 0 9px 0 rgb(177, 247, 189);
    }
}
@keyframes gobamboo{
    from{
        transform:translate(-50%,-50%) scale(.75);
        /* box-shadow:inset 0 0 9px 0 rgb(177, 247, 189); */
    }42%{
        /* box-shadow:inset 0 0 0 0 white; */
    }43%{
        transform:translate(-50%,-50%) scale(1.03);
        /* box-shadow:inset 0 0 0 0 white; */
    }57%{
        transform:translate(-50%,-50%) scale(1.03);
        /* box-shadow:inset 0 0 0 0 white; */
    }57.1%{
        transform:translate(-50%,-50%) scale(.75);
        /* box-shadow:inset 0 0 0 0 rgb(177, 247, 189); */
    }to{
        transform:translate(-50%,-50%) scale(.75);
        /* box-shadow:inset 0 0 9px 0 rgb(177, 247, 189); */
    }
}
@keyframes followbamboo{
    from{
        transform:translate(-50%,-50%) scale(1);
        /* box-shadow:0 0 9px 0 rgb(177, 247, 189); */
    }43%{
        transform:translate(-50%,-50%) scale(1);
        /* box-shadow:0 0 0 0 rgb(177, 247, 189); */
    }57%{
        transform:translate(-50%,-50%) scale(1);
    }57.1%{
        transform:translate(-50%,-50%) scale(.73);
        /* box-shadow:0 0 0 0 rgb(177, 247, 189); */
    }to{
        transform:translate(-50%,-50%) scale(1);
        /* box-shadow:0 0 9px 0 rgb(177, 247, 189); */
    }
}
@keyframes goblack{
    from{
        transform:translate(-50%,-50%) scale(.75);
    }42%{
        /* box-shadow:inset 0 0 0 0 white; */
    }43%{
        transform:translate(-50%,-50%) scale(1.03);
        /* box-shadow:inset 0 0 0 0 white; */
    }57%{
        transform:translate(-50%,-50%) scale(1.03);
        /* box-shadow:inset 0 0 0 0 white; */
    }57.1%{
        transform:translate(-50%,-50%) scale(.75);
        /* box-shadow:inset 0 0 0 0 rgb(177, 247, 189); */
    }to{
        transform:translate(-50%,-50%) scale(.75);
        /* box-shadow:inset 0 0 9px 0 rgb(177, 247, 189); */
    }
}
@keyframes followblack{
    from{
        transform:translate(-50%,-50%) scale(1);
        /* box-shadow:0 0 9px 0 rgb(177, 247, 189); */
    }43%{
        transform:translate(-50%,-50%) scale(1);
        /* box-shadow:0 0 0 0 rgb(177, 247, 189); */
    }57%{
        transform:translate(-50%,-50%) scale(1);
    }57.1%{
        transform:translate(-50%,-50%) scale(.73);
        /* box-shadow:0 0 0 0 rgb(177, 247, 189); */
    }to{
        transform:translate(-50%,-50%) scale(1);
        /* box-shadow:0 0 9px 0 rgb(177, 247, 189); */
    }
}
.footer{
    position:fixed;
    width:100%;
    height:36px;
    background:#FFFFF5;
    border-top:1px solid #FFEE00;
    color:rgb(0, 230, 64);
    bottom:0;
    left:0;
    font-size:12px;
    z-index:7;
}
body.overallclassicwhite .footer{
    background:#FFF;
    border-top:0px solid #FFEE00;
    box-shadow: 0 3px 15px -10px rgba(0, 0, 0, .56);
}
body.overallclassicbamboo .footer{
    background:rgb(111,126,112);
    border-top:0px solid #FFEE00;
    color:#FFF;
    box-shadow:none;
}
body.overallclassicblack .footer{
    background:rgb(57,57,57);
    border-top:1px solid rgb(69,69,69);
    box-shadow:none;
}
.footer .pswrapper{
    position:absolute;
    right:12px;
}
.footer span{
    line-height:36px;
}
.footer span.inspiration{
    color:#FF1100;
}
.footer a{
    color:rgb(0, 230, 64);
}
body.overallclassicbamboo .footer span.inspiration{
    color:rgb(0, 230, 64);
}
body.overallclassicbamboo .footer a{
    color:#FFF;
}



.tonguewrapper{
    position:absolute;
    top:0px;
    right:13px;
    z-index:1;
}
.heightbox{
	position:relative;
	top:102px;
	height:51px;
}
.tongue{
    display:inline-block;
    margin-top:-23px;
    margin-right:7px;
    width:13px;
    height:53px;
    background-color:#FFF;
    border:1px solid rgb(210,216,216);
    transition:all .7s ease;
    cursor:pointer;
    z-index:1;
}
.tonguewrapper .tongue.white{
    background-color:#FFF;
    border:0px solid rgb(210,216,216);
    box-shadow: 0 2px 4px rgba(0,0,0,.09);
}
.tonguewrapper .tongue.origin{
    background-color:rgb(255,255,245);
    border:1px solid #FFEE00;
}
.tonguewrapper .tongue.bamboo{
    background-image:linear-gradient(to bottom,rgb(229,228,219),rgb(111,126,112));
    border:0px solid #8D8D8D;
}
.tonguewrapper .tongue.she{
    background-image:linear-gradient(to bottom,rgb(254,199,200),rgb(226,107,151));
    border:0px solid #8D8D8D;
}
.tonguewrapper .tongue.black{
    background-color:rgb(45,45,45);
    border:1px solid rgb(69,69,69);
}
.tonguewrapper .tongue:hover{
    transform:translateY(13px);
    transition:all .03s ease;
}
.tonguewrapper .tongue.stuck{
    transform:translateY(13px);
}
.tonguewrapper .tongue.stuckclick{
    animation:nomore .7s ease both;
}
@keyframes nomore {
    from{
        transform:translateY(13px);
    }50%{
        transform:translateY(17px);
    }to{
        transform:translateY(13px);
    }
}


input.round{
	position:absolute;
	clip:rect(0,0,0,0);
}
.stickerwrapper{
    position:relative;
    z-index:1;
}
.sticker{
    display:inline-block;
    /* margin-top:-23px; */
    margin-right:17px;
    width:19px;
    height:19px;
    background-color:#FFF;
    border:1px solid rgb(210,216,216);
    border-radius:50%;
    transition:all .2s ease;
    cursor:pointer;
    z-index:1;
}
.sticker.white{
    background-color:#FFF;
    border:0px solid rgb(210,216,216);
    box-shadow: 0 2px 4px rgba(0,0,0,.09);
}
.sticker.origin{
    background-color:rgb(255,255,245);
    border:1px solid #FFEE00;
}
.sticker.bamboo{
    background-image:linear-gradient(to bottom,rgb(229,228,219),rgb(111,126,112));
    border:0px solid #8D8D8D;
}
.sticker.she{
    background-image:linear-gradient(to bottom,rgb(254,199,200),rgb(226,107,151));
    border:0px solid #8D8D8D;
}
.sticker.black{
    background-color:rgb(45,45,45);
    border:1px solid rgb(69,69,69);
}
.sticker:hover{
    transform:scale(1.1);
    /* transition:all .03s ease; */
}
.sticker.stuck{
    transform:scale(1.2);
}
.sticker.stuckclick{
    animation:nomoreround .7s ease both;
}
@keyframes nomoreround {
    from{
        transform:scale(1.2);
    }50%{
        transform:scale(1.3);
    }to{
        transform:scale(1);
    }
}


.cerebrum{
    font-family:sans-serif;
    height:100%;
}
.landr{
	height:100%;
}
.suandsidetail{
	height:100%;
}
/* 登录注册 */
.signinliwrapper{
    position:absolute;
    width:50%;
    height:575px;
    /* border:1px solid salmon; */
}
.signupliwrapper{
    position:absolute;
    width:50%;
    height:575px;
    /* border:1px solid salmon; */
    left:50%;
}
.signinli{
    position:absolute;
    width:345px;
    height:244px;
    /* border:1px solid rgb(252,255,75);
    background:rgb(255,255,242); */
    border:1px solid rgb(0, 230, 64);
    background:rgb(242,244,255);
    left:60%;
    top:70px;
    transform:translate(-50%,36px);
    transition:transform .3s;
}
body.overallclassicwhite .signinli{
    border:0px solid rgb(0, 230, 64);
    background:#FFF;
    border-radius:5px;
    box-shadow: 0 0px 5px -2px rgba(0, 0, 0, 0.07);
}
body.overallclassicbamboo .signinli{
    width:386px;
    border:0px solid rgb(0, 230, 64);
    background:#EEEDEA;
    border-radius:0px;
    box-shadow: 0 0px 5px -2px rgba(0, 0, 0, 0.07);
}
body.overallclassicblack .signinli{
    width:394px;
    border:1px solid rgb(60,60,60);
    background:rgb(43,43,43);
    border-radius:3px;
    box-shadow: 0 0px 5px -2px rgba(0, 0, 0, 0.07);
}
.signinli:hover,.signinli.tongueout{
    transform:translate(-50%,0px);
}
.signupli{
    position:absolute;
    width:345px;
    height:244px;
    border:1px solid rgb(0, 230, 64);
    background:rgb(242,244,255);
    left:40%;
    top:70px;
    transform:translate(-50%,36px);
    z-index:0;
    transition:transform .3s;
}
body.overallclassicwhite .signupli{
    border:0px solid rgb(0, 230, 64);
    background:#FFF;
    border-radius:5px;
    box-shadow: 0 0px 5px -2px rgba(0, 0, 0, 0.07);
}
body.overallclassicbamboo .signupli{
    width:386px;
    border:0px solid rgb(0, 230, 64);
    background:#EEEDEA;
    border-radius:0px;
    box-shadow:none;
}
body.overallclassicblack .signupli{
    width:394px;
    border:1px solid rgb(60,60,60);
    background:rgb(43,43,43);
    border-radius:3px;
    box-shadow: 0 0px 5px -2px rgba(0, 0, 0, 0.07);
}
.signupli:hover,.signupli.tongueout{
    transform:translate(-50%,0px);
}
.signli a{
    position:absolute;
    font-size:41px;
    /* border:1px solid salmon; */
    left:60px;
    top:20px;
    color:rgb(12, 145, 43);
}
body.overallclassicwhite .signli a{
    color:rgb(0, 230, 64);
}
body.overallclassicbamboo .signli a{
    color:rgb(111,126,112);
}


.signinwrapper{
    width:100%;
    height:100%;
}

#dypanel{
    position:relative;
    width:394px;
    background:#FFF;
    /* box-shadow: 0 0 2px rgba(0,0,0,0.2); */
    border:1px solid rgb(0, 230, 64);
    /* border-radius:7px; */
    margin:0 auto;
    top:102px;
}
@media only screen and (max-width: 427px) {
    #dypanel{
        width: calc(100vw - 36px);
    }   
}
body.overallclassicwhite #dypanel{
    border:0px solid rgb(0, 230, 64);
    border-radius:7px;
    box-shadow: 0 5px 23px -13px rgba(0, 0, 0, .29);
}
body.overallclassicbamboo #dypanel{
    border:0px solid rgb(0, 230, 64);
    background-color:rgb(242,241,237);
    border-radius:0px;
}
body.overallclassicblack #dypanel{
    border:1px solid rgb(60,60,60);
    background-color:rgb(51,51,51);
    border-radius:0 0 3px 3px;
    box-shadow: 0 13px 45px 0px #111111;
}
.signup{
    position:relative;
    width:394px;
    background:#FFF;
    /* box-shadow: 0 0 2px rgba(0,0,0,0.2); */
    border:1px solid rgb(0, 230, 64);
    /* border-radius:7px; */
    left:40%;
    transform:translateX(-50%);
}
body.overallclassicwhite .signup{
    border:0px solid rgb(0, 230, 64);
    border-radius:7px;
    box-shadow: 0 5px 23px -13px rgba(0, 0, 0, .29);
}
body.overallclassicbamboo .signup{
    border:0px solid rgb(0, 230, 64);
    background-color:rgb(242,241,237);
    border-radius:0px;
}
body.overallclassicblack .signup{
    border:1px solid rgb(60,60,60);
    background-color:rgb(51,51,51);
    border-radius:0 0 3px 3px;
    box-shadow: 0 13px 45px 0px #111111;
}


.form{
    padding:23px;
    padding-top:46px;
    padding-bottom:46px;
}
.form .frameset{
    position:relative;
    margin:26px 0;
}
.form .frameset:first-child{
    margin-top:0;
}
.form .frameset:last-child{
    margin-bottom:0;
}
.form input{
    margin:0;
    padding:0;
    font-size:16px;
    border-radius:3px;
    transition:all .17s ease;
}
body.overallclassicbamboo .form input{
    border-radius:0px;
    background-color:rgb(242,241,237);
}
body.overallclassicblack .form input{
    border-radius:3px;
    background-color:rgb(48,48,48);
    color:#CCC;
}
.form input.fullwidth{
    width:100%;
}
.form input.haspadding{
    padding:12px 20px 12px 20px;
}
.form input.hasborder{
    border:1px solid #d2d8d8;
}
body.overallclassicbamboo .form input.hasborder{
    border:0px solid #d2d8d8;
    border-bottom:1px solid #d2d8d8;   
}
body.overallclassicblack .form input.hasborder{
    border:0px solid #d2d8d8;
    box-shadow:inset 0 -1px 1px rgba(255,255,255,.2),inset 1px 0 rgba(255,255,255,.08),inset -1px 0 rgba(255,255,255,.08),inset 0 1px rgba(0,0,0,.1);
    /* border-bottom:1px solid #d2d8d8;    */
}
.form input.hasborder:focus{
    border-color:rgb(0, 230, 64);
    box-shadow:0 0 5px rgba(52,54,66,.1);
    outline:none;
}
body.overallclassicwhite .form input.hasborder:focus{
    border-color:#d2d8d8;
    box-shadow:inset 0 0 6px 0px rgba(0,0,0, 0.17);
}
body.overallclassicbamboo .form input.hasborder:focus{
    border-color:rgb(125,139,126);
    box-shadow:none;
}
.form input[type=submit]{
    padding:13px 0;
    font-size:18px;
    cursor:pointer;
    /* background:rgb(0, 230, 64); */
    color:rgb(0, 230, 64);
    background-color:#FFF;
    font-weight:bold;
    border:1px solid rgb(0, 230, 64);
}
body.overallclassicwhite .form input[type=submit]{
    box-shadow: 0 7px 7px -2px #e2ffd5;
    transition:all .3s;
}
body.overallclassicbamboo .form input[type=submit]{
    box-shadow:none;
    background-color:rgb(111,126,112);
    border:0px solid rgb(0, 230, 64);
    color:#FFF;
    transition:all .3s;
}
body.overallclassicblack .form input[type=submit]{
    box-shadow:none;
    background-color:rgb(66,66,66);
    box-shadow:inset 0 1px rgba(255,255,255,.1),inset 0 1px 1px rgba(255,255,255,.2),inset 1px 0 rgba(255,255,255,.08),inset -1px 0 rgba(255,255,255,.08);
    border:0px solid rgb(0, 230, 64);
    color:#CCC;
    transition:all 0s;
}
.form input[type=submit]:hover{
    color:#FFF;
    background-color:rgb(0, 230, 64);
}
/* body.overallclassicwhite .form input[type=submit]:hover{
    top:3px;
    background-color:#E8EAED;
    color:#2B2E33;
    box-shadow:none;
} */
body.overallclassicwhite .form input[type=submit]:hover{
    box-shadow:none;
    transform:translateY(6px);
}
body.overallclassicbamboo .form input[type=submit]:hover{
    box-shadow:none;
    background-color:#8D998E;
}
.form input.disagree{
    background:#FFF;
    cursor:not-allowed;
}
.form input[type=submit].disagree:hover{
    background:#FFF;
    color:rgb(0, 230, 64);
    transform:translateY(0px);
    box-shadow:none;
}
body.overallclassicwhite .form input[type=submit].disagree:hover{
    box-shadow: 0 7px 7px -2px #e2ffd5;
    transform:translateY(0px);
}
body.overallclassicbamboo .form input[type=submit].disagree:hover{
    box-shadow:none;
    background-color:rgb(111,126,112);
    border:0px solid rgb(0, 230, 64);
    color:#FFF;
}
body.overallclassicblack .form input[type=submit].disagree:hover{
    box-shadow:none;
    background-color:rgb(66,66,66);
    box-shadow:inset 0 1px rgba(255,255,255,.1),inset 0 1px 1px rgba(255,255,255,.2),inset 1px 0 rgba(255,255,255,.08),inset -1px 0 rgba(255,255,255,.08);
    border:0px solid rgb(0, 230, 64);
    color:#CCC;
}
body.overallclassicblack .form input[type=submit]:active{
    box-shadow:none;
    background-color:rgb(204,204,204);
    box-shadow:inset 0 -1px rgba(0,0,0,.3),inset 0 -1px 1px rgba(0,0,0,.5);
    border:0px solid rgb(0, 230, 64);
    color:rgb(66,66,66);
}
.formmessage{
    padding:23px 23px 0;
    font-size:16px;
}
.formbuttommessage{
    position:relative;
    width:100%;
    left:0;
    top:0;
    text-align:right;
    padding-top:27px;
}
.formbuttommessage a{
    color:rgb(12, 145, 43);
}
body.overallclassicwhite .formbuttommessage a{
    color:rgb(0, 230, 64);
}
body.overallclassicbamboo .formbuttommessage a{
    color:#2D918D;
}

section .partinner{
    display:none;
}
section .partinner.isselected{
    display:block;
    animation:blur .7s;
}

@keyframes tongueout{
    from{
        transform:translate(-50%,0px);
        z-index:-1;
    }49%{
        transform:translate(-50%,87px);
        z-index:-1;
    }50%{
        transform:translate(-50%,87px);
        z-index:1;
    }to{
        transform:translate(-50%,0px);
        z-index:1;
    }
}
@keyframes blur{
    from{
        opacity:0;
    }to{
        opacity:1;
    }
}


.existtips{
    width:259px;
    display:block;
    position:absolute;
    margin-top:-7px;
    background:#262626;
    color:#8C8C8C;
    border-radius:5px;
    padding-left:12px;
    padding-top:15px;
    padding-right:12px;
    padding-bottom:12px;
    font-size:14px;
    line-height:17px;
    opacity:0.89;
    -webkit-box-shadow:#777 0px 7px 15px;
    box-shadow:#777 0px 7px 15px;
    -webkit-animation:select-drop .5s linear both;
    animation:select-drop .5s linear both;
    z-index:3;
}
.existtips::after{
    content:'';
    display:block;
    position:absolute;
    height:0;
    width:0;
    border-bottom:7px solid #262626;
    border-left:7px solid transparent;
    border-right:7px solid transparent;
    left:60px;
    top:-7px;
}
.existtips.ishidden{
    display:none;
}
/* .existtips.ishiddenaction{
    animation:fade .5s linear both;
} */
.existtips li:nth-child(1){
    padding-bottom:7px;
}
.existtips li:nth-child(2){
    padding-top:7px;
}
.existtips li+li{
    border-top:1px solid #333;
}
@keyframes fade{
	from{
		opacity:1;
	}to{
		opacity:0;
	}
}
@-webkit-keyframes select-drop {
    0% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -10, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -10, 0, 1);
        opacity: 0;
    }

    4% {
        -webkit-transform: matrix3d(.96758, 0, 0, 0, 0, .96758, 0, 0, 0, 0, 1, 0, 0, -6.46592, 0, 1);
        transform: matrix3d(.96758, 0, 0, 0, 0, .96758, 0, 0, 0, 0, 1, 0, 0, -6.46592, 0, 1)
    }

    8% {
        -webkit-transform: matrix3d(.96176, 0, 0, 0, 0, .96176, 0, 0, 0, 0, 1, 0, 0, -2.91725, 0, 1);
        transform: matrix3d(.96176, 0, 0, 0, 0, .96176, 0, 0, 0, 0, 1, 0, 0, -2.91725, 0, 1)
    }

    12% {
        -webkit-transform: matrix3d(.96958, 0, 0, 0, 0, .96958, 0, 0, 0, 0, 1, 0, 0, -.25224, 0, 1);
        transform: matrix3d(.96958, 0, 0, 0, 0, .96958, 0, 0, 0, 0, 1, 0, 0, -.25224, 0, 1);
        opacity: 1
    }

    16% {
        -webkit-transform: matrix3d(.98144, 0, 0, 0, 0, .98144, 0, 0, 0, 0, 1, 0, 0, 1.26207, 0, 1);
        transform: matrix3d(.98144, 0, 0, 0, 0, .98144, 0, 0, 0, 0, 1, 0, 0, 1.26207, 0, 1)
    }

    20% {
        -webkit-transform: matrix3d(.99188, 0, 0, 0, 0, .99188, 0, 0, 0, 0, 1, 0, 0, 1.76942, 0, 1);
        transform: matrix3d(.99188, 0, 0, 0, 0, .99188, 0, 0, 0, 0, 1, 0, 0, 1.76942, 0, 1)
    }

    24% {
        -webkit-transform: matrix3d(.99884, 0, 0, 0, 0, .99884, 0, 0, 0, 0, 1, 0, 0, 1.60106, 0, 1);
        transform: matrix3d(.99884, 0, 0, 0, 0, .99884, 0, 0, 0, 0, 1, 0, 0, 1.60106, 0, 1)
    }

    28% {
        -webkit-transform: matrix3d(1.0023, 0, 0, 0, 0, 1.0023, 0, 0, 0, 0, 1, 0, 0, 1.10713, 0, 1);
        transform: matrix3d(1.0023, 0, 0, 0, 0, 1.0023, 0, 0, 0, 0, 1, 0, 0, 1.10713, 0, 1)
    }

    32% {
        -webkit-transform: matrix3d(1.00324, 0, 0, 0, 0, 1.00324, 0, 0, 0, 0, 1, 0, 0, .56005, 0, 1);
        transform: matrix3d(1.00324, 0, 0, 0, 0, 1.00324, 0, 0, 0, 0, 1, 0, 0, .56005, 0, 1)
    }

    36% {
        -webkit-transform: matrix3d(1.00278, 0, 0, 0, 0, 1.00278, 0, 0, 0, 0, 1, 0, 0, .12148, 0, 1);
        transform: matrix3d(1.00278, 0, 0, 0, 0, 1.00278, 0, 0, 0, 0, 1, 0, 0, .12148, 0, 1)
    }

    40% {
        -webkit-transform: matrix3d(1.00181, 0, 0, 0, 0, 1.00181, 0, 0, 0, 0, 1, 0, 0, -.14782, 0, 1);
        transform: matrix3d(1.00181, 0, 0, 0, 0, 1.00181, 0, 0, 0, 0, 1, 0, 0, -.14782, 0, 1)
    }

    44% {
        -webkit-transform: matrix3d(1.00088, 0, 0, 0, 0, 1.00088, 0, 0, 0, 0, 1, 0, 0, -.25729, 0, 1);
        transform: matrix3d(1.00088, 0, 0, 0, 0, 1.00088, 0, 0, 0, 0, 1, 0, 0, -.25729, 0, 1)
    }

    48% {
        -webkit-transform: matrix3d(1.00021, 0, 0, 0, 0, 1.00021, 0, 0, 0, 0, 1, 0, 0, -.25225, 0, 1);
        transform: matrix3d(1.00021, 0, 0, 0, 0, 1.00021, 0, 0, 0, 0, 1, 0, 0, -.25225, 0, 1)
    }

    52% {
        -webkit-transform: matrix3d(.99986, 0, 0, 0, 0, .99986, 0, 0, 0, 0, 1, 0, 0, -.18613, 0, 1);
        transform: matrix3d(.99986, 0, 0, 0, 0, .99986, 0, 0, 0, 0, 1, 0, 0, -.18613, 0, 1)
    }

    56% {
        -webkit-transform: matrix3d(.99973, 0, 0, 0, 0, .99973, 0, 0, 0, 0, 1, 0, 0, -.10336, 0, 1);
        transform: matrix3d(.99973, 0, 0, 0, 0, .99973, 0, 0, 0, 0, 1, 0, 0, -.10336, 0, 1)
    }

    60% {
        -webkit-transform: matrix3d(.99975, 0, 0, 0, 0, .99975, 0, 0, 0, 0, 1, 0, 0, -.03233, 0, 1);
        transform: matrix3d(.99975, 0, 0, 0, 0, .99975, 0, 0, 0, 0, 1, 0, 0, -.03233, 0, 1)
    }

    64% {
        -webkit-transform: matrix3d(.99983, 0, 0, 0, 0, .99983, 0, 0, 0, 0, 1, 0, 0, .01446, 0, 1);
        transform: matrix3d(.99983, 0, 0, 0, 0, .99983, 0, 0, 0, 0, 1, 0, 0, .01446, 0, 1)
    }

    68% {
        -webkit-transform: matrix3d(.99991, 0, 0, 0, 0, .99991, 0, 0, 0, 0, 1, 0, 0, .03631, 0, 1);
        transform: matrix3d(.99991, 0, 0, 0, 0, .99991, 0, 0, 0, 0, 1, 0, 0, .03631, 0, 1)
    }

    72% {
        -webkit-transform: matrix3d(.99997, 0, 0, 0, 0, .99997, 0, 0, 0, 0, 1, 0, 0, .03908, 0, 1);
        transform: matrix3d(.99997, 0, 0, 0, 0, .99997, 0, 0, 0, 0, 1, 0, 0, .03908, 0, 1)
    }

    76% {
        -webkit-transform: matrix3d(1.00001, 0, 0, 0, 0, 1.00001, 0, 0, 0, 0, 1, 0, 0, .03077, 0, 1);
        transform: matrix3d(1.00001, 0, 0, 0, 0, 1.00001, 0, 0, 0, 0, 1, 0, 0, .03077, 0, 1)
    }

    80% {
        -webkit-transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, 0, .01851, 0, 1);
        transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, 0, .01851, 0, 1)
    }

    84% {
        -webkit-transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, 0, .00719, 0, 1);
        transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, 0, .00719, 0, 1)
    }

    88% {
        -webkit-transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, 0, -.00078, 0, 1);
        transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, 0, -.00078, 0, 1)
    }

    92% {
        -webkit-transform: matrix3d(1.00001, 0, 0, 0, 0, 1.00001, 0, 0, 0, 0, 1, 0, 0, -.00493, 0, 1);
        transform: matrix3d(1.00001, 0, 0, 0, 0, 1.00001, 0, 0, 0, 0, 1, 0, 0, -.00493, 0, 1)
    }

    96% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -.00594, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -.00594, 0, 1)
    }

    to {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        opacity: 1
    }
}

@keyframes select-drop {
    0% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -10, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -10, 0, 1);
        opacity: 0
    }

    4% {
        -webkit-transform: matrix3d(.96758, 0, 0, 0, 0, .96758, 0, 0, 0, 0, 1, 0, 0, -6.46592, 0, 1);
        transform: matrix3d(.96758, 0, 0, 0, 0, .96758, 0, 0, 0, 0, 1, 0, 0, -6.46592, 0, 1)
    }

    8% {
        -webkit-transform: matrix3d(.96176, 0, 0, 0, 0, .96176, 0, 0, 0, 0, 1, 0, 0, -2.91725, 0, 1);
        transform: matrix3d(.96176, 0, 0, 0, 0, .96176, 0, 0, 0, 0, 1, 0, 0, -2.91725, 0, 1)
    }

    12% {
        -webkit-transform: matrix3d(.96958, 0, 0, 0, 0, .96958, 0, 0, 0, 0, 1, 0, 0, -.25224, 0, 1);
        transform: matrix3d(.96958, 0, 0, 0, 0, .96958, 0, 0, 0, 0, 1, 0, 0, -.25224, 0, 1);
        opacity: 1
    }

    16% {
        -webkit-transform: matrix3d(.98144, 0, 0, 0, 0, .98144, 0, 0, 0, 0, 1, 0, 0, 1.26207, 0, 1);
        transform: matrix3d(.98144, 0, 0, 0, 0, .98144, 0, 0, 0, 0, 1, 0, 0, 1.26207, 0, 1)
    }

    20% {
        -webkit-transform: matrix3d(.99188, 0, 0, 0, 0, .99188, 0, 0, 0, 0, 1, 0, 0, 1.76942, 0, 1);
        transform: matrix3d(.99188, 0, 0, 0, 0, .99188, 0, 0, 0, 0, 1, 0, 0, 1.76942, 0, 1)
    }

    24% {
        -webkit-transform: matrix3d(.99884, 0, 0, 0, 0, .99884, 0, 0, 0, 0, 1, 0, 0, 1.60106, 0, 1);
        transform: matrix3d(.99884, 0, 0, 0, 0, .99884, 0, 0, 0, 0, 1, 0, 0, 1.60106, 0, 1)
    }

    28% {
        -webkit-transform: matrix3d(1.0023, 0, 0, 0, 0, 1.0023, 0, 0, 0, 0, 1, 0, 0, 1.10713, 0, 1);
        transform: matrix3d(1.0023, 0, 0, 0, 0, 1.0023, 0, 0, 0, 0, 1, 0, 0, 1.10713, 0, 1)
    }

    32% {
        -webkit-transform: matrix3d(1.00324, 0, 0, 0, 0, 1.00324, 0, 0, 0, 0, 1, 0, 0, .56005, 0, 1);
        transform: matrix3d(1.00324, 0, 0, 0, 0, 1.00324, 0, 0, 0, 0, 1, 0, 0, .56005, 0, 1)
    }

    36% {
        -webkit-transform: matrix3d(1.00278, 0, 0, 0, 0, 1.00278, 0, 0, 0, 0, 1, 0, 0, .12148, 0, 1);
        transform: matrix3d(1.00278, 0, 0, 0, 0, 1.00278, 0, 0, 0, 0, 1, 0, 0, .12148, 0, 1)
    }

    40% {
        -webkit-transform: matrix3d(1.00181, 0, 0, 0, 0, 1.00181, 0, 0, 0, 0, 1, 0, 0, -.14782, 0, 1);
        transform: matrix3d(1.00181, 0, 0, 0, 0, 1.00181, 0, 0, 0, 0, 1, 0, 0, -.14782, 0, 1)
    }

    44% {
        -webkit-transform: matrix3d(1.00088, 0, 0, 0, 0, 1.00088, 0, 0, 0, 0, 1, 0, 0, -.25729, 0, 1);
        transform: matrix3d(1.00088, 0, 0, 0, 0, 1.00088, 0, 0, 0, 0, 1, 0, 0, -.25729, 0, 1)
    }

    48% {
        -webkit-transform: matrix3d(1.00021, 0, 0, 0, 0, 1.00021, 0, 0, 0, 0, 1, 0, 0, -.25225, 0, 1);
        transform: matrix3d(1.00021, 0, 0, 0, 0, 1.00021, 0, 0, 0, 0, 1, 0, 0, -.25225, 0, 1)
    }

    52% {
        -webkit-transform: matrix3d(.99986, 0, 0, 0, 0, .99986, 0, 0, 0, 0, 1, 0, 0, -.18613, 0, 1);
        transform: matrix3d(.99986, 0, 0, 0, 0, .99986, 0, 0, 0, 0, 1, 0, 0, -.18613, 0, 1)
    }

    56% {
        -webkit-transform: matrix3d(.99973, 0, 0, 0, 0, .99973, 0, 0, 0, 0, 1, 0, 0, -.10336, 0, 1);
        transform: matrix3d(.99973, 0, 0, 0, 0, .99973, 0, 0, 0, 0, 1, 0, 0, -.10336, 0, 1)
    }

    60% {
        -webkit-transform: matrix3d(.99975, 0, 0, 0, 0, .99975, 0, 0, 0, 0, 1, 0, 0, -.03233, 0, 1);
        transform: matrix3d(.99975, 0, 0, 0, 0, .99975, 0, 0, 0, 0, 1, 0, 0, -.03233, 0, 1)
    }

    64% {
        -webkit-transform: matrix3d(.99983, 0, 0, 0, 0, .99983, 0, 0, 0, 0, 1, 0, 0, .01446, 0, 1);
        transform: matrix3d(.99983, 0, 0, 0, 0, .99983, 0, 0, 0, 0, 1, 0, 0, .01446, 0, 1)
    }

    68% {
        -webkit-transform: matrix3d(.99991, 0, 0, 0, 0, .99991, 0, 0, 0, 0, 1, 0, 0, .03631, 0, 1);
        transform: matrix3d(.99991, 0, 0, 0, 0, .99991, 0, 0, 0, 0, 1, 0, 0, .03631, 0, 1)
    }

    72% {
        -webkit-transform: matrix3d(.99997, 0, 0, 0, 0, .99997, 0, 0, 0, 0, 1, 0, 0, .03908, 0, 1);
        transform: matrix3d(.99997, 0, 0, 0, 0, .99997, 0, 0, 0, 0, 1, 0, 0, .03908, 0, 1)
    }

    76% {
        -webkit-transform: matrix3d(1.00001, 0, 0, 0, 0, 1.00001, 0, 0, 0, 0, 1, 0, 0, .03077, 0, 1);
        transform: matrix3d(1.00001, 0, 0, 0, 0, 1.00001, 0, 0, 0, 0, 1, 0, 0, .03077, 0, 1)
    }

    80% {
        -webkit-transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, 0, .01851, 0, 1);
        transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, 0, .01851, 0, 1)
    }

    84% {
        -webkit-transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, 0, .00719, 0, 1);
        transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, 0, .00719, 0, 1)
    }

    88% {
        -webkit-transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, 0, -.00078, 0, 1);
        transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, 0, -.00078, 0, 1)
    }

    92% {
        -webkit-transform: matrix3d(1.00001, 0, 0, 0, 0, 1.00001, 0, 0, 0, 0, 1, 0, 0, -.00493, 0, 1);
        transform: matrix3d(1.00001, 0, 0, 0, 0, 1.00001, 0, 0, 0, 0, 1, 0, 0, -.00493, 0, 1)
    }

    96% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -.00594, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -.00594, 0, 1)
    }

    to {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        opacity: 1
    }
}